{% extends 'layout.html.twig' %}

{% block title %}A découvrir{% endblock %}


{% block visual %}
    <ul class="diaporama1">
        <li><img src="/assets/img/home/31.jpg" alt="" /></li>
        <li><img src="/assets/img/home/32.jpg" alt="" /></li>
        <li><img src="/assets/img/home/33.jpg" alt="" /></li>
        <li><img src="/assets/img/home/34.jpg" alt="" /></li>
        <li><img src="/assets/img/home/35.jpg" alt="" /></li>
        <li><img src="/assets/img/home/36.jpg" alt="" /></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="central">
        <div style="margin-left:34px; margin-right:34px">
            <h2 id="tt_decouverte">Nos coups de coeur et vos découvertes</h2>
            <div id="contenu_decouverte">
                <div class="decouverte">
                    <div class="textes">
                        <h3>L’île et son histoire</h3>
                        <p>Oléron, la plus vaste des îles métropolitaines françaises après la Corse (35 km de longueur, 12 km dans sa plus grande largeur, 34 mètres à son point culminant (à la dune de Saint Trojan), 90 km de côtes, une superficie de 175 km2, 19 000 habitants permanents), est demeurée des origines à la Seconde Guerre mondiale un site stratégique très convoité, qui se trouve inclus tant dans le système de défense des côtes de Vauban, que dans le mur de l'Atlantique.</p>
                        <a href="http://www.cabuzel.com" class="lien"><div class="bouton">Accédez au site</div></a>
                    </div>
                    <div class="photo">
                        <img src="/assets/img/photo_ile.jpg" width="311" height="123" alt="Vue aérienne de l'île d'Oléro" />
                    </div>
                </div>
                <div class="sep"></div>
                <div class="decouverte separation">
                    <div class="textes">
                        <h3>Le Fort Boyard</h3>
                        <p>Le vaisseau de pierre : situé à mi-chemin entre l'Ile-d'Aix et l'Ile-d'Oléron, Fort-Boyard a été conçu pour protéger la rade de l'Ile-d'Aix et l'Arsenal de Rochefort. </p>
                        <a href="http://www.charente-maritime.org/pays_rochefortais/patrimoine_littoral/littoral_fort_boyarda.htm" class="lien"><div class="bouton">Accédez au site</div></a>
                    </div>
                    <div class="photo">
                        <img src="/assets/img/photo_fort.jpg" width="311" height="123" alt="Fort Boyard en mer" />
                    </div>
                </div>
                <div class="sep"></div>
                <div class="decouverte separation">
                    <div class="textes">
                        <h3>La Citadelle et son château</h3>
                        <p>La Citadelle fut construite en 1630, un peu à l'est du château fort d'Alienor d'Aquitaine qui fut alors démoli.</p>
                        <a href="http://www.oleron-story.com/citadelle-chateau-oleron.html" class="lien"><div class="bouton">Accédez au site</div></a>
                    </div>
                    <div class="photo">
                        <img src="/assets/img/photo_citadelle.jpg" width="311" height="123" alt="La Citadelle du Château d'Oléron" />
                    </div>
                </div>
                <div class="sep"></div>
                <div class="decouverte separation">
                    <div class="textes">
                        <h3>Le Phare de Chassiron</h3>
                        <p>Le phare de Chassiron, juché sur une falaise rocheuse, est situé à l'extrémité nord de l'île d'Oléron, prés de la ville de Saint-Denis-d'Oléron. Le phare permet aux marins de rentrer dans les eaux du Pertuis d'Antioche, lieu semé de récifs et réputé pour ses nombreux naufrages.</p>
                        <a href="http://fr.wikipedia.org/wiki/Phare_de_Chassiron" class="lien"><div class="bouton">Accédez au site</div></a>
                    </div>
                    <div class="photo">
                        <img src="/assets/img/photo_phare.jpg" width="311" height="123" alt="Phare de Chassiron" />
                    </div>
                </div>
                <div class="sep"></div>
            </div>
        </div>

    </div>
{% endblock %}