{% extends 'layout.html.twig' %}

{% block title %}A découvrir{% endblock %}


{% block visual %}
    <ul class="diaporama1">
        <li><img src="IMGS/home/04.jpg" alt="" /></li>
        <li><img src="IMGS/home/05.jpg" alt="" /></li>
        <li><img src="IMGS/home/06.jpg" alt="" /></li>
        <li><img src="IMGS/home/07.jpg" alt="" /></li>
        <li><img src="IMGS/home/08.jpg" alt="" /></li>
        <li><img src="IMGS/home/09.jpg" alt="" /></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="central">
        <div style="margin-left:34px; margin-right:34px">
            <h2 id="tt_liens">Liens utiles</h2>
            <div id="contenu_liens">
                <div class="textes">
                    <h3>Château du Mesnil à Saint Georges</h3>
                    <p>Château à louer à Oléron pour vos réceptions - mariage, cousinade, baptême.<br>Location meublée de 600m², 12 chambres.
                        <br><br>
                        <a href="http://www.chateaudumesnil.com" target="_blank">http://www.chateaudumesnil.com</a>
                    </p>
                    <h3>Création de mosaïques</h3>
                    <h4>ANDRÉA SCHOORMANS</h4>
                    <p>Vous souhaitez découvrir le plaisir de créer une mosaïque...<br />
                        je vous guide dans le choix du motif et ses couleurs et je
                        vous initie à vous servir de plusieurs outils pour la découpe
                        des tesselles en faïence, ainsi qu'au jointoiement et à la
                        finition de votre oeuvre.<br /><br />
                        <a href="http://www.creations-mosaiques.fr">http://www.creations-mosaiques.fr</a></p>
                </div>
                <div>
                    <h3>Vente en ligne Vipair/LCH info - VIPAIR</h3>
                    <a href="http://www.vipair-production.com">http://www.vipair-production.com</a>
                </div>
            </div>
        </div>
        <div class="sep"></div>
    </div>
{% endblock %}