{% extends 'layout.html.twig' %}

{% block title %}Tarifs des locations{% endblock %}

{% block content %}
<div id="central">
    <div style="margin-left:34px; margin-right:34px">
        <h2 id="tt_tarifs">Tarifs des locations</h2>
        <div id="contenu_tarifs">
            <div id="tableauTarifs">
                <table border=0 width=540 cellspacing=0 cellpadding=0>
                    <tr>
                        <td>
                            <table border=0 width=540 cellspacing=0 cellpadding=1 class="outertable">
                                <tr>
                                    <td>
                                        <table border=0 width=100% cellspacing=1 cellpadding=2>
                                            <tr>
                                                <td class="labelhead" valign="top">TARIFS LOCATION 2015<br>Par semaine
                                                </td>
                                                <td class="head" valign="top">11/04<br>27/06</td>
                                                <td class="head" valign="top">27/06<br>04/07</td>
                                                <td class="head" valign="top">04/07<br>29/08</td>
                                                <td class="head" valign="top">29/08<br>26/09</td>
                                                <td class="head" valign="top">26/09<br>01/11</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Studio 2 pers.</td>
                                                <td class="nosaison">255</td>
                                                <td class="nosaison">340</td>
                                                <td class="saison">405</td>
                                                <td class="nosaison">255</td>
                                                <td class="nosaison">230</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Studio + chambre 2 pers</td>
                                                <td class="nosaison">345</td>
                                                <td class="nosaison">460</td>
                                                <td class="saison">560</td>
                                                <td class="nosaison">345</td>
                                                <td class="nosaison">300</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Location 4 pers</td>
                                                <td class="nosaison">390</td>
                                                <td class="nosaison">610</td>
                                                <td class="saison">745</td>
                                                <td class="nosaison">390</td>
                                                <td class="nosaison">365</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Location 5 pers</td>
                                                <td class="nosaison">410</td>
                                                <td class="nosaison">630</td>
                                                <td class="saison">765</td>
                                                <td class="nosaison">410</td>
                                                <td class="nosaison">385</td>
                                            </tr>
                                            <tr>
                                                <td class="condi" colspan="7">D'avril à fin juin et de septembre à
                                                    novembre le tennis et le mini-golf sont inclus dans le prix et le
                                                    chauffage si nécessaire.<br/>Du 1er avril au 30 septembre, une taxe
                                                    de séjour est à prévoir en supplément de la location au tarif de
                                                    0,44€/jour/personne.<br/>Si toutefois, il n'y a plus de
                                                    disponibilité aux périodes que vous souhaitez, nous avons d'autres
                                                    locations à vous proposer dans une autre résidence à Saint-Denis.
                                                    N'hésitez pas à nous contacter. Très Bonne journée.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <img src="/pic/spacer.gif" width=1 height=4><br>
                <table border=0 width=540 cellspacing=0 cellpadding=0>
                    <tr>
                        <td>
                            <table border=0 width=540 cellspacing=0 cellpadding=1 class="outertable">
                                <tr>
                                    <td>
                                        <table border=0 width=100% cellspacing=1 cellpadding=2>
                                            <tr>
                                                <td class="labelhead" valign="top">TARIFS LOCATION 2015 par jour<br>au
                                                    minimum 2 nuits
                                                </td>
                                                <td class="head" valign="top">11/04<br>27/06</td>
                                                <td class="head" valign="top">27/06<br>04/07</td>
                                                <td class="head" valign="top">29/08<br>26/09</td>
                                                <td class="head" valign="top">26/09<br>01/11</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Studio 2 pers.</td>
                                                <td class="nosaison">45</td>
                                                <td class="saison">55</td>
                                                <td class="nosaison">45</td>
                                                <td class="nosaison">40</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Studio + chambre 2 pers</td>
                                                <td class="nosaison">60</td>
                                                <td class="saison">70</td>
                                                <td class="nosaison">60</td>
                                                <td class="nosaison">50</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Location 4 pers</td>
                                                <td class="nosaison">70</td>
                                                <td class="saison">95</td>
                                                <td class="nosaison">70</td>
                                                <td class="nosaison">60</td>
                                            </tr>
                                            <tr>
                                                <td class="label">Location 5 pers</td>
                                                <td class="nosaison">75</td>
                                                <td class="saison">100</td>
                                                <td class="nosaison">75</td>
                                                <td class="nosaison">65</td>
                                            </tr>
                                            <tr>
                                                <td class="condi" colspan="5">D'avril à fin juin et de septembre à
                                                    novembre le tennis et le mini-golf sont inclus dans le prix et le
                                                    chauffage si nécessaire.<br/>Du 1er avril au 30 septembre, une taxe
                                                    de séjour est à prévoir en supplément de la location au tarif de
                                                    0,44€/jour/personne.<br/>Si toutefois, il n'y a plus de
                                                    disponibilité aux périodes que vous souhaitez, nous avons d'autres
                                                    locations à vous proposer dans une autre résidence à Saint-Denis.
                                                    N'hésitez pas à nous contacter. Très Bonne journée.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="sep"></div>
        </div>
    </div>
</div>
{% endblock %}