{% extends 'layout.html.twig' %}

{% block visual %}
    <div class="inside">
        {{ 'inside'|diaporama|raw }}
    </div>
{% endblock %}

{% block content %}
    <div id="central">
        <div style="margin-left:34px; margin-right:34px">
            <h2 id="tt_visite">Les Cariatides, l’invitation au Voyage</h2>
            <div id="wifi">Accès WIFI</div>
            <div class="sep"></sep>
                <div id="contenu_visite">
                    <p class="chapo">Les maîtres mots des Cariatides : <br />
                        Confort, simplicité, et modernité en toute liberté</p>
                    <p style="margin-bottom:15px;"><strong>Des maisons de plain-pied entièrement meublées et équipées :</strong></p>
                    <p style="margin-bottom:20px;">+ d’une kitchenette comprenant un évier, un réfrigérateur, <br />
                        une plaque de gaz et un micro-onde,<br />
                        + une salle d'eau avec douche, lavabo, et toilettes,<br />
                        + chauffage, salon de jardin et barbecue.</p>
                    <p>Le plus !<br />
                        Un accès WiFi entièrement gratuit !</p>
                    <p>&nbsp;</p>
                </div>
                <div id="periode">
                    <h3>BON À SAVOIR</h3>
                    <p style="text-indent:-5000px"><strong>Du 9 février au 28 juin 2009 et du 30 août au 11 novembre 2009</strong>, le tennis et le mini-golf sont inclus dans le prix et le chauffage si nécessaire.</p>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
{% endblock %}
    {% block extracontent %}
    <div id="hebergement">
        <div class="logement">
            <div class="textes">
                <h3>Le Studio 2 personnes (17 m<sup>²</sup>)</h3>
                <div class="presentation"></div>
                <div class="description">
                    <div class="content">
                        <h2>Équipement</h2>
                        <ul>
                            <li>ESPACE NUIT AVEC UN LIT DE 140 CM DANS LE SÉJOUR</li>
                            <li>KITCHENETTE (SANS MICRO-ONDES)</li>
                            <li>SALLE D'EAU AVEC WC.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="photos" id="gallery">
                <a href="/assets/img/logements/studio_2_large_001.jpg" title=""><img src="/assets/img/logements/studio_2_large_001.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/studio_2_large_002.jpg" title=""><img src="/assets/img/logements/studio_2_large_002.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/studio_2_large_003.jpg" title=""><img src="/assets/img/logements/studio_2_large_003.jpg" width="294" height="233" alt="" /></a>
            </div>
        </div>
        <div class="sep"></div>
        <div class="logement">
            <div class="textes">
                <h3>L’appartement 2 personnes (2 pièces)</h3>
                <div class="presentation"></div>
                <div class="description">
                    <div class="content">
                        <h2>Équipement</h2>
                        <ul>
                            <li>UNE CHAMBRE AVEC UN LIT DE 140 CM</li>
                            <li>UN SEJOUR AVEC CANAPÉ ET CUISINE AMERICAINE TOUTE EQUIPÉE</li>
                            <li>SALLE D'EAU AVEC WC.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="photos" id="gallery2">
                <a href="/assets/img/logements/appart_2_large_001.jpg" title=""><img src="/assets/img/logements/appart_2_large_001.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_2_large_002.jpg" title=""><img src="/assets/img/logements/appart_2_large_002.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_2_large_003.jpg" title=""><img src="/assets/img/logements/appart_2_large_003.jpg" width="294" height="233" alt="" /></a>

            </div>
        </div>
        <div class="sep"></div>
        <div class="logement">
            <div class="textes">
                <h3>L’appartement 4 personnes (3 pièces)</h3>
                <div class="presentation"></div>
                <div class="description">
                    <div class="content">
                        <h2>Équipement</h2>
                        <ul>
                            <li>UNE CHAMBRE AVEC UN LIT DE 140 CM</li>
                            <li>UNE CHAMBRE AVEC 2 LITS SIMPLES</li>
                            <li>UN SÉJOUR AVEC CANAPÉ ET CUISINE AMÉRICAINE</li>
                            <li>SALLE D'EAU ET WC SÉPARÉ.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="photos" id="gallery4">
                <a href="/assets/img/logements/appart_4_large_001.jpg" title=""><img src="/assets/img/logements/appart_4_001.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_002.jpg" title=""><img src="/assets/img/logements/appart_4_002.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_003.jpg" title=""><img src="/assets/img/logements/appart_4_003.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_004.jpg" title=""><img src="/assets/img/logements/appart_4_004.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_005.jpg" title=""><img src="/assets/img/logements/appart_4_005.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_006.jpg" title=""><img src="/assets/img/logements/appart_4_006.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_007.jpg" title=""><img src="/assets/img/logements/appart_4_007.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_008.jpg" title=""><img src="/assets/img/logements/appart_4_008.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_009.jpg" title=""><img src="/assets/img/logements/appart_4_009.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_010.jpg" title=""><img src="/assets/img/logements/appart_4_010.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_011.jpg" title=""><img src="/assets/img/logements/appart_4_011.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_4_large_012.jpg" title=""><img src="/assets/img/logements/appart_4_012.jpg" width="294" height="233" alt="" /></a>
            </div>
        </div>
        <div class="sep"></div>
        <div class="logement">
            <div class="textes">
                <h3>L’appartement 5 personnes (3 pièces)</h3>
                <div class="presentation"></div>
                <div class="description">
                    <div class="content">
                        <h2>Équipement</h2>
                        <ul>
                            <li>UNE CHAMBRE AVEC UN LIT DE 140 CM</li>
                            <li>UNE CHAMBRE AVEC 3 LITS SIMPLES</li>
                            <li>UN SÉJOUR AVEC CANAPÉ ET CUISINE AMÉRICAINE</li>
                            <li>SALLE D'EAU AVEC WC.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="photos" id="gallery5">
                <a href="/assets/img/logements/appart_5_large_001.jpg" title=""><img src="/assets/img/logements/appart_5_001.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_5_large_002.jpg" title=""><img src="/assets/img/logements/appart_5_002.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_5_large_003.jpg" title=""><img src="/assets/img/logements/appart_5_003.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_5_large_004.jpg" title=""><img src="/assets/img/logements/appart_5_004.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_5_large_005.jpg" title=""><img src="/assets/img/logements/appart_5_005.jpg" width="294" height="233" alt="" /></a>
                <a class="hideMe" href="/assets/img/logements/appart_5_large_006.jpg" title=""><img src="/assets/img/logements/appart_5_006.jpg" width="294" height="233" alt="" /></a>
            </div>
        </div>
    </div>
{% endblock %}