
html, body, div, img, h1, ul, li, hr, p
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html{
	background: #fff url(../img/body_fond.jpg) repeat-x top;
}

body
{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

#ondes
{
	background: url(../img/ondes.png) no-repeat center bottom;
	height: 850px;
	width:100%;
	position:absolute;
}

#principal
{
	position:absolute;
	width: 800px;
	left:50%;
	margin-left:-400px;
	
}

h1
{
	margin-top:0px;
	margin-left:45px;
	margin-bottom:-5px;
}

#conteneur
{
	width:710px;
	background:#FFFFFF;
	margin-left:45px;
	
}

#visuel
{
	margin-left: 13px;
	padding-top:13px;
	margin-right: 13px;
	border-bottom:#dee1c9 1px solid;
}

#menu
{
	margin-left:13px;
	border-bottom:#e0f2f4 1px solid;
	height:47px;
}

#menu ul
{
	width:700px;
}

*html #menu li
{
	width:70px;
}

#menu li
{
	display:table;
	float:left;
	text-align:center;
	padding-right:19px;
	padding-left:19px;
}

.btnMenu
{
	padding-top:18px;
	background:url(../img/btn_puce.jpg) no-repeat top center;
	height:47px;
}

.btnMenu:hover
{
	background:url(../img/btn_puce_.jpg) no-repeat top center;
	
}


#menu li a
{
	color:#5e777f;
	text-decoration:none;
}

.btnSelected
{
	background:url(../img/btn_puce_.jpg) no-repeat top center;
}

.btnSelected
{
	color:#2ea6ba;
}

ul{
	background:#FFFFFF;
}

#menu li a:hover
{
	color:#2ea6ba;
}


#btn1, #btn2 ,#btn3, #btn4, #btn5
{
	background:url(../img/btn_separation.jpg) no-repeat top right;
}


#central
{
	margin-top:22px;
	color:#5e777f;
}

#gauche
{
	background:#c0f0ff;
	width:122px;
	float:left;
	margin-left:13px;
	padding:14px;
	font-size:11px;
}

#gauche strong
{
	font-size:13px;
}

#contenu
{
	padding-left:27px;
	padding-right:25px;
	float:left;
	width:315px;
}

#droite
{
	float:left;
	border-left:1 px solid #eae7df;
	width: 170px;
}

#droite li
{
	color:#2ea6ba;
}

.chapo
{
	font-size:12px;
	font-weight:bold;
	color:#2ea6ba;
	margin-bottom: 20px;
}

.sep
{
	clear:both;
}

li
{
	list-style-position:inside;
}

#footer
{
	font-size:9px;
	text-align:center;
	color:#2ea6ba;
	margin-top:25px;
	margin-bottom:5px;
	text-transform: uppercase;
}

#footer a
{
	color:#2ea6ba;
	text-decoration:none;
}


#infosPratiques
{
	background:url(../img/tt_infosPratiques.jpg) no-repeat;
	width:100px;
	height:14px;
	text-indent:-2000px;
}


#coordonnees
{
	background:url(../img/tt_coordonnees.jpg) no-repeat;
	width:89px;
	height:11px;
	text-indent:-2000px;
}


#bienvenue
{
	background:url(../img/tt_bienvenue.jpg) no-repeat;
	width:260px;
	height:14px;
	text-indent:-2000px;
}



.enSavoirPlus
{
	background:url(../img/btn_enSavoirPlus.jpg) no-repeat;
	width:118px;
	height:20px;
	text-indent:-2000px;
	margin-top:30px;
}



#decouvrir
{
	background:url(../img/tt_decouvrir.jpg) no-repeat;
	width:118px;
	height:17px;
	text-indent:-2000px;
}


#tt_visite, #tt_decouverte, #tt_tarifs, #tt_infos, #tt_liens, #tt_contact, #tt_erreur404
{
	width:100%;
	height:17px;
	text-indent:-2000px;
	border-bottom:1px solid silver;
}

.hideMe
{
	display: none;
}

#tt_visite
{
	background:url(../img/tt_visite.jpg) no-repeat;
}

#tt_decouverte
{
	background:url(../img/tt_decouverte.jpg) no-repeat;
}

#tt_tarifs
{
	background:url(../img/tt_tarifs.jpg) no-repeat;
}

#tt_infos
{
	background:url(../img/tt_infos.jpg) no-repeat;
}


#tt_liens
{
	background:url(../img/tt_liens.jpg) no-repeat;
}


#tt_contact
{
	background:url(../img/tt_contact.jpg) no-repeat;
}

#tt_erreur404
{
	background:url(../img/tt_erreur404.jpg) no-repeat;
}

#hebergement
{
	margin-top:25px;
	width:636px; 
	margin-left:45px;
	background:#bbe2e9;
	padding:37px;
}

#hebergement .description ul
{
	background:none;
}

#hebergement .description
{
	width:274px;
	background:url(../img/fond_visite.jpg) repeat-y;
	border: 3px solid white;
}

.logement
{
	margin-bottom:20px;
}

.logement .textes
{
	width:50%; float:left;
}

#hebergement .logement .photos img
{
border: 3px white solid;
}

#hebergement .description
{
	font-size: 9px;
	margin-top:10px;
}

#hebergement .description .content
{
	padding:0px 10px 10px 10px;
}

#hebergement .description .content h2
{
	background:url(../img/tt_equipement.gif) no-repeat;
	text-indent:-5000px;
}


#wifi
{
	background:url(IMGS/WIFI.jpg) no-repeat;
	width:93px;
	height:83px;
	margin-top: -55px;
	
	float:right;
	text-indent:-2000px;
}

#contenu_visite
{
	width:60%;
	height:158px;
	float:left;
	margin-top:-25px;
	background:none;
}

#contenu_visite #chapo
{
	font-size:14px;
}

#contenu_decouverte
{
	
}

#periode
{
	background:url(../img/bon_a_savoir.jpg) right no-repeat;
	
	height:158px;
	text-indent:-5000px;
	
}

#periode h3
{
     text-indent:-5000px;
}

.textes h3
{
	color:#2ea6ba;
}

.textes h4
{
	
}

.decouverte .textes
{
	width:55%; float:left;
}

.textes .bouton
{
	background:url(../img/btn_acces.jpg) no-repeat;
	width:118px;
	height:19px;
	text-indent:-5000px;
}

.decouverte .textes p
{
	margin-bottom:15px;
}

.decouverte .photo
{
	float: left;
	width:40%;
}

.decouverte.separation
{
	border-top:1px dashed #5e8175;
	margin-top:10px;
padding-top:10px;

}

#tableauTarifs
{
	/*border:1px solid #5e8175;*/
	margin-bottom:25px;
}

#contenu_tarifs p
{
	margin-top:15px;
}

#contenu_infos .separateur
{
	border-top:1px dashed #5e8175;
	margin-top:25px;
}

#contenu_infos .textes
{
	float:left;
	width:50%;
}

#contenu_infos .illustration
{
	float:left;
	width:40%;
}

#contenu_contact .textes
{
	float:left;
	width:60%;
	border-right:1px solid #5e8175;
}

#contenu_contact .textes.separation
{
	float:left;
	width:35%;
	padding-left:20px;
	border-right: none;
}

input
{
	background: ##5e8175;
	border:1px solid #5e8175;
	margin-bottom:15px;
}

textarea
{
	background: ##5e8175;
	border:1px solid #5e8175;
}

/** TABLEAU DES TARIFS **/
	.outertable		{ background:#5e8175; }
	.disabled		{ font-family:arial,helvetica; font-size:13px; color:#cc0000; font-weight:bold; }
	.promo			{ font-family:arial,helvetica; font-size:11px; font-weight:bold; color:#000000; background-color:#ffffff; padding-left:5px; padding-right:5px; }
	.labelhead		{ font-family:arial,helvetica; font-size:11px; font-weight:bold; color:#2ea6ba; background-color:#eeeeee; padding-left:5px; padding-right:5px; }
	.head			{ font-family:arial,helvetica; font-size:11px; color:#2ea6ba; background-color:#eeeeee; text-align:center }
	.label			{ font-family:arial,helvetica; font-size:11px;  background-color:#ffffff; padding-left:5px; padding-right:5px; }
	.nosaison		{ font-family:arial,helvetica; font-size:11px;  background-color:#ffffcc; text-align:center }
	.saison			{ font-family:arial,helvetica; font-size:11px;  background-color:#aaeeff; text-align:center }
	.condi			{ font-family:arial,helvetica; font-size:11px;  background-color:#ffffff; padding-left:5px; padding-right:5px; }
	a:link			{ font-family:arial,helvetica; font-size:11px; color:#606060; font-weight:normal; text-decoration:underline; }
	a:visited		{ font-family:arial,helvetica; font-size:11px; color:#606060; font-weight:normal; text-decoration:underline; }
	a:activ			{ font-family:arial,helvetica; font-size:11px; color:#ff0000; font-weight:normal; text-decoration:underline; }
	a:hover
