<div id="footer">
    <p>+
        {% for route in routes %}
            <a href="{{ route.pattern }}">{{ route.param('label')|upper }}</a> -
        {% endfor %}
        <a href="http://www.les-cariatides.de">Deutsch Version</a> +</p>
</div>